h2 {
    text-align: center;
    margin: 5px auto;
    color: darkblue;
}
.row > div {
    display: flex;
    justify-content: center;
    margin: 3px auto;
}

.row > div .shiny-input-container {
    margin-bottom: 0;
}

.row .col-sm-5 .shiny-input-container {
    width: 100%;
}

.row .col-sm-6 {
    display: block;
}

.row > div h3 {
    margin: 0 auto;
}

.row > div h4 {
    margin: 0 auto;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}